@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

.custom-logo,
.site-header .logo {
  max-width: 100% !important;
  width: 200px !important;
  height: auto !important;
  max-height: 144px !important;
}

.main-header .header-upper .logo-box .logo img {
  position: relative;
  display: inline-block;
  max-width: 300px;
  max-height: 144px;
}

.main-header .header-upper .logo-box .logo img {
  position: relative;
  display: inline-block;
  max-width: 149px;
  max-height: 50px;
  z-index: 1;
}
h1 {
  font-family: Roboto !important;
  line-height: 48px;
  font-weight: 900;
  font-style: normal;
  font-size: 48px;
  font-display: swap;
}
h2 {
  font-family: Cabin !important;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*MEDIA QUERIES */

/* large fixed screen : 1790px; */
@media only screen and (max-width: 1790px) {
  .header-top-one .mid-text {
    display: none;
  }

  .header-top-one .mid-text {
    position: relative;
    text-align: center;
    line-height: 28px;
    padding: 0px 30px;
    color: #ddd;
  }
}
@media only screen and (max-width: 1790px) {
  .header-top-one .mid-text {
    position: relative;
    text-align: center;
    line-height: 28px;
    padding: 0px 30px;
    color: #ddd;
  }
}
@media only screen and (max-width: 1790px) {
  .header-top-one .mid-text {
    display: none;
  }
}
