/* 
    Created on : 21 Dec 2016, 11:31:32 AM
    Author     : Dakalo
*/

.navbar-toolbar {
    background-color: #333333;
    background-image: url("../img/darkwood-panel.jpg");
    background-size: contain;
}

#header .navbar-header {
    background-color: #ffffff;
}

.body-content {
    background-color: #333333;
    background-image: url("../img/skin-cloth.jpg");
    background-repeat: repeat;
    padding: 20px !important;
}

.footer-content {
background-color: #333333;
background-image: url("../img/darkwood-panel.jpg");
background-size: contain;
border-color: #333333;
}
